.env


Country_list.csv
download-58714-studentprojectslive-indiandb.zip
india.sql
indian_state_district_city.sql
TEMP.sql
india_2.db
india_2.sql
task_data.db
users.db
india_original.db
india copy.db
main_temp.py.txt
